# Visual Studio ignores
.vs
x64
Bin
stitchingExample/x64
#*.sln
#*.vcxproj*
*.vcxproj.filters
*.vcxproj.user

# SQLite ignores
*.db
*.db-journal
*_encrypted
*_plain 

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
